.top-nav {
    margin: auto;
    max-width: 1100px;
    padding: 30px;
    display: flex;
    align-items: center;

    .red-date {
        letter-spacing: 3.88px;
        font-size: 15px;
        color: #d10000;
        font-weight: 400;
        margin-right: 30px;
    }

    .text-link {
        text-decoration: none;
        color:#444;
        margin: 0 30px;
        font-family: '宋体';
        &:hover {
            color:#000;
        }
    }
}